registry=https://npm.sitecore.com/test
//npm.sitecore.com/:_authToken=csa_88d1fed42d52b8680238c511455ee2JsAOEg

@sitecore-content-sdk:registry=https://npm.sitecore.com/test
//npm.sitecore.com/:_authToken=csa_88d1fed42d52b8680238c511455ee2JsAOEg